{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
</head>
<body>
    <form action="{% block form_action %} {% url 'project_add' %} {% endblock %}" method="POST" enctype="multipart/form-data">
        <div class='form-container'>
            {% csrf_token %}
            {% for hidden in project_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        
            {{ project_form.as_p }}
        
            {{ formset.management_form }}
            <div class="form-image">
            {% for form in formset %}
                {{ form }}     
            {% endfor %}           
            </div>

            
            <button type='button' class='btn-add'>Add more image</button> 
        
            <input type="submit" value="{% block btn_value %} Create {% endblock %}"/>
         </div>
    </form>

    <script>
        const addImageBtn = document.querySelector('.btn-add')
        const imageForm = document.querySelector('.form-image')
        const containerForm = document.querySelector('.form-container')
        addImageBtn.addEventListener('click', (e) => {
            containerForm.innerHTML += imageForm.innerHTML
            
        })
    </script>
</body>
</html>