{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>New Project</title>
</head>

<body>
    <div class="container">
        <form id="form-container" action="{% block form_action %} {% url 'project_add' %} {% endblock %}" method="POST"
            enctype="multipart/form-data">

            {% csrf_token %}
            {% for hidden in project_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {{ project_form|crispy }}

            {{ formset.management_form }}
            {% for form in formset %}
                <div class="bird-form">
                    {{ form|crispy }}
                </div>
            {% endfor %}

            <button type='button' class="btn btn-primary" id="add-form" max="{{ formset.max_num }}">Add more image</button>

            <input type="submit" class="btn btn-success" value="{% block btn_value %} Create {% endblock %}" />

        </form>
    </div>

    <script src="{% static 'js/add-image.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
</body>

</html>