{% extends 'funds/layout/base.html' %}
{% block title %}
    My Projects
{% endblock %}
{% block home_active %} 

{% endblock %}
{% block new_active %} 

{% endblock %}
{% block my_projects_active %} 
active
{% endblock %}


{% block content %}
    <h1>Welcome {{ request.user }}! Your projects:</h1>
    <ul>
        {% for project in projects %}
            <li>{{ project }}</li>
            {% if project.images %}
            {% for image_object in project.images.all %}
                <img src="{{ image_object.image.url }}" width="200" height="200" style="margin: 16px;" alt="200x200px {{ project }} image">
            {% endfor %}
        {% endif %}
        {% endfor %}    
        
    </ul>
{% endblock %}