{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ project_data.title }}</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body{
        margin-top: 70px;
        }
    </style>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4 font-weight-bold">{{ project_data.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ project_data.user.username }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Start Date : {{ project_data.start_date }}  |  End Date : {{ project_data.end_date }}</p>

        <hr>

         <!-- Details -->

          <div class="card my-4">
            <h2 class="card-header">Details</h2>
            <div class="card-body">
              <h5 class="font-weight-bold">Description:</h5>
              {{ project_data.details }}
              <hr>
              <p><span class="font-weight-bold">Total Donations: </span>{{ project_donations.donation__sum }} $ </p>
              <hr>
              <p><span class="font-weight-bold"> Rating:  </span> {{ project_ratings.rating__avg }} / 5.0 </p>
            </div>
          </div>

        <hr>

        <!-- Images -->

        <h2 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Gallery</h2>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-left">


          {% for project_image in project_images %}
              <div class="col-lg-4 col-md-4 col-6">
                  <img src="{{ project_image.image.url }}" class="img-fluid " style="border: 10px white solid">
              </div>
          {% endfor %}


        </div>

        <hr>

         <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form id="usrform" action=" {% url 'project_read' project_data.id %} " method="POST" enctype="multipart/form-data">

            {% csrf_token %}
              <div class="form-group">
                
                <textarea class="form-control comment-body" rows="3"  name="comment" form="usrform"></textarea>

              </div>

              <button type="submit" class="btn btn-primary comment-submit">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
       <div class="card my-4">
        <h5 class="card-header">Comments</h5>
        <div class="card-body">
        {% for comment in project_comments %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0 font-weight-bold text-dark">{{comment.user.username}}</h5>
            <p>{{ comment.comment }}</p>
            <a href="#" class="card-link float-right " data-toggle="modal" data-target="#exampleModalLong">Report</a>
          </div>
        </div>
        <hr>

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">


              <form id="comment-report-form-{{ comment.id}}" action=" {% url 'project_read' project_data.id  %} " method="POST" enctype="multipart/form-data">
                  
               {% csrf_token %}
                <div class="form-group">
                  <label for="report-text" class="col-form-label">Reason For Report: </label>
                  <textarea class="form-control" id="report-text" form="comment-report-form-{{ comment.id}}" name="comment-report"></textarea>
                  <input type="hidden" name="comment_id" value="{{ comment.id }}">

                  
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary" >Report</button>
              </div>
            </form>

            </div>
          </div>
        </div>
        {% endfor %}
        </div>
         
      </div>

      </div>



      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">


                  <!-- Categories Widget -->
        <div class="card my-4">
          <h4 class="card-header">Category</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">

                <h3><span class="badge bg-primary" style="color: #fff">{{ project_data.category }}</span></h3>

              </div>
            </div>
          </div>
        </div>



        <!-- Categories Widget -->
        <div class="card my-4">
          <h4 class="card-header">Tags</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">

                     {% for tag in project_data.tags.all %}
                        <li>
                          <h4><span class="badge rounded-pill bg-secondary" style="color: #fff">{{ tag }}</span></h4>
                        </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>



         <!-- Total Target Widget -->
        <div class="card my-4">
          <h4 class="card-header">Target</h4>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="progress" style="height: 24px; font-size: 16px; margin-bottom: 2px;">
                  <div class="progress-bar progress-bar-striped bg-danger font-weight-bold" role="progressbar" style="width: {{ project_target_percent}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ project_target_percent}}%</div>
                </div>
                  <h4><span class="badge badge-info" style="color: #fff">{{ project_donations.donation__sum }} $ out of {{ project_data.total_target}} $</span></h4>
              </div>
            </div>
          </div>
        </div>

        <!-- similar projects Widget -->
        <div class="card my-4">
          <h5 class="card-header">You May Also Like</h5>
          <div class="card-body">
            <div class="row">
              <!-- <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div> -->
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->



  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script>
  const submitCommentBtn = document.querySelector('.comment-submit')
  const commentBody = document.querySelector('.comment-body')

  

  commentBody.addEventListener('keyup',()=>{
    if (commentBody.value == ""){
    submitCommentBtn.setAttribute("disabled","")
    }else{
      submitCommentBtn.removeAttribute("disabled")
    }
  })

  if (commentBody.value == ""){
    submitCommentBtn.setAttribute("disabled","")
  }else{
    submitCommentBtn.removeAttribute("disabled")
  }
</script>

</body>

</html>