{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}   
    Profile
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        {% if user.image %}
                            <img src="{{ user.image.url }}" alt="profile_picture" width="130" class="rounded mb-2 img-thumbnail">
                        {% else %}
                            <img src="{% static 'img/profile_placeholder.png' %}" alt="profile_picture" width="130" class="rounded mb-2 img-thumbnail">
                        {% endif %}
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0" style="text-transform: capitalize;">{{ user.username }}</h4>
                        {% if user.country %}
                            <p class="small mb-1"> <i class="fas fa-map-marker-alt mr-2"></i>{{user.country.name}}</p>
                        {% endif %}
                        {% if user.facebook_profile %}
                            <p class="small mb-4"> <i class="fab fa-facebook-f mr-2"></i>
                                <a href="{{ user.facebook_profile }}">Facebook</a>
                            </p>
                        {% else %}
                            <div class="mb-4"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ donations.count }}</h5>
                        <small class="text-muted"> <i class="fas fa-hand-holding-usd mr-1"></i><a href="#">Donations</a></small>
                    </li>
                </ul>
            </div>
            <!-- User info -->
            <div class="container">
                <div class="pb-2"> <a href="{% url 'profile' user.id %}">Back</a> </div>
                
                {% if donations.count == 0 %}
                <div class="pb-4"><h4>No projects funded yet.</h4></div>
                {% else %}
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Project Title</th>
                        <th scope="col">Donation</th>
                        <th scope="col">Date</th>
                        <th scope="col">Project Link</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for donation in donations %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ donation.project.title }}</td>
                                <td>{{ donation.donation }}$</td>
                                <td>{{ donation.date }}</td>
                                <td><a href="{% url 'project_read' donation.project.id %}">Visit</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
            </div>
            <!-- End of user info -->
        </div>
    </div>
</div>
{% endblock %}
   