{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <title>Profile</title>
</head>
<body>    
	<div class="row py-5 px-4">
        <div class="col-md-5 mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            {% if user.image %}
                                <img src="{{ user.image.url }}" alt="profile_picture" width="130" class="rounded mb-2 img-thumbnail">
                            {% else %}
                                <img src="{% static 'img/profile_placeholder.png' %}" alt="profile_picture" width="130" class="rounded mb-2 img-thumbnail">
                            {% endif %}
                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0" style="text-transform: capitalize;">{{ user.username }}</h4>
                            {% if user.country %}
                                <p class="small mb-1"> <i class="fas fa-map-marker-alt mr-2"></i>{{user.country.name}}</p>
                            {% endif %}
                            {% if user.facebook_profile %}
                                <p class="small mb-4"> <i class="fab fa-facebook-f mr-2"></i>
                                    <a href="{{ user.facebook_profile }}">Facebook</a>
                                </p>
                            {% else %}
                                <div class="mb-4"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ projects_count }}</h5>
                            <small class="text-muted"> <i class="fas fa-project-diagram mr-1"></i><a href="{% url 'accounts_projects' user.id %}">Projects</a></small>
                        </li>
                    </ul>
                </div>
                <!-- User info -->
                <div class="container">
                    <div class="px-4 py-3">
                        <h5 class="mb-0">About</h5>
                        <div class="p-4 rounded shadow-sm bg-light">
                            <p class="font-italic mb-0">email: {{ user.email }}</p>
                            {% if user.phone_number %}
                            <p class="font-italic mb-0">phone: {{ user.phone_number }}</p>
                            {% endif %}
                            {% if user.birth_date %}
                            <p class="font-italic mb-0">birthday: {{ user.birth_date }}</p>
                            {% endif %}
                            
                        </div>
                    </div>
                   
                </div>
                <!-- End of user info -->
            </div>
        </div>
    </div>
    <!-- Adding the javascript -->
    
</body>
</html>


<!---------------------------------------------------->

