{% load static %}
<html lang="en">
<head>
    <style>
      .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
      }
      .fill img {
          flex-shrink:   0;
          min-width:  100%;
          min-height: 100%;
      }
      .cat_div{
      background-color: rgb(19, 65, 49);
      font-size: 30px; 
      width: fit-content;
      height: fit-content;
      margin: 20px;
      text-align: center;
      }
      .cat_div:hover{
        background-color: brown;
      }
      .cat_div a{
        text-decoration: none;
      }
    </style>
    	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
  <title>{% block title %} Egy Fund {% endblock %}</title>

	<!-- Styles -->
	<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
	<link rel='stylesheet' href="{% static 'css/animate.min.css' %}">
	<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel='stylesheet' href="{% static 'css/style.css' %}"/>
	
	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
			
	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>
<body>
  <div id="parallax">
  </div>
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <!-- Your Logo -->
      <a href="{% url 'egyfund' %}" class="navbar-brand">EgyFund</a>
    </div>
    <!-- Start Navigation -->
    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
    <ul class="nav navbar-nav">
      <li>
      <a href="{% url 'egyfund' %}">Home</a>
      </li>
      <li>
      <a href="{% url 'project_add' %}">New Project</a>
      </li>
      <li>
      <a href="#slider">Slide Show</a>
      </li>
      <li>
      <a href="{% url 'profile' request.user.id %}">profile</a>
      </li>
      <li id="search" >
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline" method =POST action="{% url 'egyfund' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searched">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
      </li>
      <li>
      <a href="{% url 'logout' %}">LogOut</a>
      </li>
    </ul>
    </nav>
  </div>
  </header>
      {% block content %}

      {% endblock %}


      <!-- Credits 
      =============================================== -->
      <div style="background-color:#3089b3;opacity:0.7;">
      <section id="credits" class="text-center" >
        <span class="social wow zoomIn">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        </span><br/>
        <div style="color: beige;font-size: 15px;">
          Copyright &copy; <a href="#">Egy Fund</a> 
          <br/>created By <i class="fa fa-heart"></i> ITI team
        </div>
      </section>
    </div>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/waypoints.min.js' %}"></script>
      <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
      <script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/validate.js' %}"></script>
      <script src="{% static 'js/common.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var y = document.getElementsByClassName("text-block");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
      y[i].style.display = "none";
    }
    x[slideIndex-1].style.display = "block";
    y[slideIndex-1].style.display = "block";
  }
  </script>
    <script src="{% static 'js/add-image.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
    
</body>
</html>